* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header code */
.header {
    padding: 20px;
    background-color: #907FA4;
    color: white;
    position: sticky;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a is the list for the header */
a {
    text-decoration: none;
    color: #EDEDD0;
    font-weight: bold;
}


/* insert hero code here */



.section-title {
    font-size: 40px;
    color: #95C0C0;
    text-align: center;
    border-bottom: solid 4px #907FA4;
}

.about-me-info {
    display: flex;
    padding: 20px;
    font-size: 18px;
    justify-content: center;
}

.about-me-info p {
    float: right;
}

.about-me-info img {
    border: solid 4px #95C0C0;
}


/* work code here */

/* contact me */

/* resume code */
#resume div {
    display: center;
}



footer {
    padding: 20px;
    background-color: #907FA4;
}

footer div{
    text-align: center;
    font-size: 18px;
    color: white;
}