/* universal code */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header section */
.header {
    padding: 20px;
    background-color: #907FA4;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a is the list for the header */
a {
    text-decoration: none;
    color: #EDEDD0;
    font-weight: bold;
}

/* hero section */
.hero {
    height: 200px;
    width: 100%;
    padding: 2px;
    margin-bottom: 25px;
    background-image: url("../images/seamless-pattern-purple-flower-with-watercolor-designed-for-fabric-and-wallpaper-vintage-style-vector.jpg");
    background-size: cover;
    background-position: 80%;
    background-position: center;
    display: flex;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #95C0C0;
    color: #EDEDD0;
    height: 40px;
    width: 300px;
}


.section-title {
    font-size: 40px;
    width: 300px;
    color: #95C0C0;
    text-align: center;
    border-bottom: solid 4px #907FA4;
    padding: 10px;
    margin: 0 auto;
}

/* about me section */
.about-me-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
}

.about-me-info p {
    float: right;
    width: 50%;
    text-align: center;
}

.about-me-info img {
    border: solid 4px #95C0C0;
}

/* work code here */
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.main-project {
    display: flex;
}

.main-project img {
    width: 800px;
    opacity: 50%;
}

.main-project img:hover {
    opacity: 100%
}

.side-project img {
    width: 400px;
    opacity: 50%;
}

.side-project img:hover {
    opacity: 100%;
}

.coming-soon-header {
    position: absolute;
    background-color: #907FA4;
    padding: 5px;
    color: #EDEDD0;
    font-size: 20px;
    border: solid 2px #736583;
}
/* contact me */
#contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 15px;
    padding: 15px;
}

#contact-me nav ul li a {
    font-size: 18px;
    color: black;
    border-bottom: solid 3px #95C0C0;
}

/* resume code */
#resume p {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}
#resume div {
    display: flex;
}

#resume p a{
    color: #95C0C0;
    font-weight: bolder;
    font-size: 20px;
}

/* footer section */
footer {
    padding: 20px;
    background-color: #907FA4;
}

footer div{
    text-align: center;
    font-size: 18px;
    color: white;
} 

/* media queries for various screen sizes */
@media screen and (max-width: 980px) {
    header {
        width: 100%;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer {
        text-align: center;
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .main-project img {
        width: 600px; 
    }

    .about-me-info p {
        padding: 10px;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .about-me-info p {
        text-orientation: upright;
    }
}

@media screen and (max-width: 375px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .about-me-info p {
        padding: 10px;
    }

    .work-container {
        flex-direction: column;
    }

    .main-project img {
        width: 400px;
    }

    .side-project img {
        width: 300px;
    }

    .coming-soon-header {
        font-size: 18px;
        right: auto;
    }

}