/* universal code */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header section */
.header {
    padding: 20px;
    background-color: #907FA4;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a is the list for the header */
a {
    text-decoration: none;
    color: #EDEDD0;
    font-weight: bold;
}

/* hero section */
.hero {
    height: 200px;
    width: 100%;
    padding: 2px;
    margin-bottom: 25px;
    background-image: url("../images/seamless-pattern-purple-flower-with-watercolor-designed-for-fabric-and-wallpaper-vintage-style-vector.jpg");
    background-size: cover;
    background-position: 80%;
    background-position: center;
    display: flex;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #95C0C0;
    color: #EDEDD0;
    height: 40px;
    width: 300px;
}


.section-title {
    font-size: 40px;
    color: #95C0C0;
    text-align: center;
    border-bottom: solid 4px #907FA4;
}

/* about me section */
.about-me-info {
    display: flex;
    padding: 20px;
    font-size: 18px;
    justify-content: center;
}

.about-me-info p {
    float: right;
    width: 30%;
    text-justify: right;
}

.about-me-info img {
    border: solid 4px #95C0C0;
}

/* work code here */

/* contact me */

/* resume code */
#resume div {
    display: center;
}



footer {
    padding: 20px;
    background-color: #907FA4;
}

footer div{
    text-align: center;
    font-size: 18px;
    color: white;
}